<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>مواعيد</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
    <link rel="stylesheet" href="sweetalert2.min.css">
  <link rel="stylesheet" href="/styles.css" />

  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light p-4 fixed-top">
      <ul>
        <li class="nav-item mt-2">
          <a href="/view/me">
            <img
              class="img mt-1"
              width="30px"
              height="30px"
              style="border-radius: 50%"
              src="/img/<%=user.photo%>"
              alt=""
            />
            <%=user.name%>
          </a>
        </li>
      </ul>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto mt-1">
     <!----modal -->
     <button type="button" class=" mb-2 mod-btn" data-toggle="modal" data-target="#exampleModal">
      تسجيل خروج
      </button>
    <div class="modal fade mt-3" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog ">
        <div class="modal-content">
          <div class="modal-header">
           
            <button type="button" class="close " data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <p>هل انت حقا تريد تسجيل الخروج</p>
          </div>
          <div class="modal-body">
        
         
           
           <button> <li><a href="/users/logout">نعم</a></li></button>
           <button><li ><a href=" ">لا</a></li></button> 
         
          </div>
         
        </div>
      </div>
    </nav>

    <section class="dates mt-5">
      <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-4 dat1">
     
      
          <button class="geton">بحث</button>
          
          <input id="name" type="text" placeholder="أدخل ألأسم أو الرقم الوطني" 
         
         />
         <!--<i class='bx bx-search-alt-2'   ></i>-->
          
      </div>
    </div>
    <div class="row  mt-5" dir="rtl">
  
      <h4 style="text-align: end;">مواعيد اليوم :</h4>
      <table class=" mt-4 table table-striped" >
   
        <thead >
          <tr  >
            <th  scope="col">#</th>
            <th scope="col">الاسم الكامل</th>
            <th c scope="col">الرقم الوطني</th>
            <th  scope="col">اسم الخدمة</th>
            <th  scope="col">تاريخ الموعد</th>
          </tr>
        </thead>
        <tbody>
          <% newDate.forEach((item,index) => {  %>

          <tr  class="tr-head">
       
            <td  style="color:#068331;font-size:1rem;">  <%=index+1%></td>
            <td > <%=item.user.name%></td>
            <td > <%=item.user.national_number%></td>
            <td><%=item.service.service%></td>
            <td style="font-size: 10px;"> <%=item.date%></td>
       
          </tr>
          <% }); %>
        </tbody>
      </table>
</div>
   
  
    </div>

    </section>
    <script>
      const getName = document.querySelector(".geton");
      getName.addEventListener("click", async () => {
        const name = document.getElementById("name").value;
        console.log(name);
        try {
          await fetch(`/dates/${name}`, {
            method: "GET",
            mode: "cors",
            cache: "no-cache",
            credentials: "same-origin",
            headers: {
              "Content-Type": "application/json",
            },
            redirect: "follow",
            referrerPolicy: "no-referrer",
            // body: JSON.stringify(data),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.status == "success") {Swal.fire({
                  title:"موجود",
                  html:` <span style="padding-left:10px"> ${data.findDate.user.name} <span>: الاسم <br> 
               
                    رقم الوطني : <span style="padding-left:10px">${data.findDate.user.national_number} <span> <br>
              نوع الخدمة : <span style="padding-left:10px">${data.findDate.service.service} <span>
       
             `,
                  icon:"success",
                  confirmButtonColor: '#068331',
                  confirmButtonText: 'حسنا',

 
      showClass: {
     popup: 'animate__animated animate__fadeInDown'
  },
  hideClass: {
    popup: 'animate__animated animate__fadeOutUp'
  }
                })

                //show on
        /*
              alert(`
             ${data.findDate.service.service} 
             ${data.findDate.user.name}
             ${data.findDate.user.national_number}
              `
              );
              */
                                                            
            
               
              } else {
                Swal.fire({
                  title:"غير موجود" ,
                  icon:"error",
                  confirmButtonColor: '#068331',
                  showConfirmButton: false,
       timer:1700,
      showClass: {
     popup: 'animate__animated animate__fadeInDown'
  },
  hideClass: {
    popup: 'animate__animated animate__fadeOutUp'
  }
                })
                // showAlert("error",data.message);
              }
            });
        } catch (err) {
          console.log(err);
        }
      });

    </script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
  integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
  crossorigin="anonymous"></script>
  </body>
</html>
