<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css" />

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light p-4 fixed-top">       
    <ul>
        <li class=" p-1 nav-item "><a href="/view/me"><div ><img class="img mb-2 mr-1" width="25px" height="25px" style="border-radius: 50%;" src="/img/<%=user.photo%>" alt=""><%=user.name%></a></li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto mt-3">
             <!----modal-->
             <button type="button" class=" mb-4 mod-btn" data-toggle="modal" data-target="#exampleModal">
              تسجيل خروج
              </button>
            <div class="modal fade mt-3" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog ">
                <div class="modal-content">
                  <div class="modal-header">
                   
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <p>هل انت حقا تريد تسجيل الخروج</p>
                  </div>
                  <div class="modal-body">                  
                   <button> <li><a href="/users/logout">نعم</a></li></button>
                   <button><li ><a href=" ">لا</a></li></button> 
                 
                  </div>
                 
                </div>
              </div>
            </div>
                <li class="nav-item mt-2"><a href="/users">إضافة موظف</a></li>
            
                <li class=" dropdown nav-item mt-2">
                  <button class=" dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false" style="background-color:#f8f8f8;">
                    <a href="/users/getAll">الموظفين</a>
                 </button>
                
                 <div class="dropdown-menu " dir="rtl">
                    <a class="dropdown-item " href="#table-emp" >موظفين </a>
                    <hr>
                    <a class="dropdown-item" href="#table-officer" >شرطي المرور</a>
               
                  </div>
                 
                </li>
            </ul>
        </div>
    </nav>
    <section class="employy">
    <div class="container">
      <section class="table-emp mt-4" id="table-emp">
        <h4 class="text-center mt-5">  : معلومات الموظفين    </h4>
        <div class="row employ2 mt-2
        " dir="rtl">
            <table class="table  table-striped mt-5">
                <thead class="mt-3" >
                  <tr >
                  
                    <th scope="col" >#</th>
              
                    <th scope="col" class="pr-50" >الاسم</th>
                    <th scope="col" >رقم الوطني</th>
                    <th scope="col">البريد الالكتروني</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                
                    <% emp.forEach((item,index) => {  %>
                       <tr>
                       <td><%=index+1 %></td>
                
                      <td><img src="/img/<%= item.photo%>"  class="img mb-2 ml-1" width="30px" height="30px" style="border-radius: 50%;" alt=""> <%= item.name %></td>
                        <td><%= item.national_number %></td>
                        <td><%= item.email %></td>
                        <td><button  data-linkid="<%="/"+item._id %>" class="delete" style="background-color:brown;">حذف</button></td>
                      </tr>
                        <% });%>
               
                  
              
              </table>
              </div>
            </section>
            <section class="table-officer" id="table-officer">
              <h4 class="text-center mt-5 ">  : معلومات شرطي المرور   </h4>
              <div class="row employ2" dir="rtl">
              <table class="table table-striped mt-5">
                <thead class="mt-3">
                  <tr>
              
                    <th scope="col">#</th>
                    <th scope="col">الاسم</th>
                    <th scope="col">رقم الوطني</th>
                    <th scope="col">البريد الالكتروني</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                
                    <% officer.forEach((mmm,index) => {  %>
                        <tr>
                            <td><%=index+1 %></td>
                            <td><img src="/img/<%= mmm.photo%>"  class="img mb-2 ml-1" width="30px" height="30px" style="border-radius: 50%;" alt=""> <%= mmm.name %></td>

                        <td><%= mmm.national_number %></td>
                        <td><%= mmm.email %></td>
                        <td>
                          <button  data-linkid="<%="/"+mmm._id %>" class="delete" style="background-color:brown;">حذف</button>
                        </td>
                      
                    </tr>
                    <br>
                        <% });%>
               
                  
                </tbody>
              </table>
            </div>
            </section>
        
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.addEventListener("click", elem =>{
    if(elem.target.className==='delete'){
      const empId = elem.target.getAttribute("data-linkid");
      console.log(empId);
      fetch(`/users/${empId}`, { method: "DELETE" })
      .then((response) => response.json())
      .then((data) => {
        if(data.status=="success"){         
          Swal.fire({
              text: "لقد تمت العملية بنجاح",
              confirmButtonColor: "#068331",
              confirmButtonText: "حسنا",
              showClass: {
                popup: "animate__animated animate__fadeInDown",
              },
              hideClass: {
                popup: "animate__animated animate__fadeOutUp",
              },
            });
            setTimeout(function () {
              window.location = '/users/getAll'
            }, 3000);
        }
      })
      .catch((err) => {
        console.log(err);
      });
    }
  });
    </script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>
</body>
</html>